<configuration>
    <appender name="unsorted" class="ru.hh.logging.HhRollingAppender"/>
    <appender name="timings" class="ru.hh.logging.HhRollingAppender"/>

    <root level="info">
        <appender-ref ref="unsorted"/>
    </root>

    <logger name="ru.hh.nab.health.monitoring.TimingsLogger" level="warn" additivity="false">
        <appender-ref ref="timings"/>
    </logger>

</configuration>
